body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-card {
  margin:20px;
}

.c-card-image {
  border-radius: 10px;
  width: 320x;
  height: 400px;
  box-shadow: 0px 0px 3px 1px #000000;
}

.c-card-info {
  font-size: 10px;
  margin: 100px;
  box-shadow: 0px 0px 3px 1px #000000;
  padding: 5px;
}

.c-card-title {
  font-size: 24px;
  margin: 0px;
}

.c-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}